@CHARSET "ISO-8859-1";
html, body, header, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, img, ul, li, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	font-famiy: arial, 'Varela Round', 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: underline;	
}

.descbox
{
	border :0;
	width  :200px;
}
.titlebox
{
	border :0;
	width  :420px;
}
.typeselectbox
{
	border :0;
	width  :90px;
}
.levelselectbox
{
	border :0;
	width  :60px;
}
.statusselectbox
{
	border :0;
	width  :200px;
}
.remarkbox
{
	border :0;
	width  :100px;
}
